# Task-1 (Загрузить в БД данные (любая СУБД на усмотрение))
Настройка среды, импорт основных библеотек, и создание инстансов наших sheets.

In [78]:
import pandas as pd
from settings import DIR_PATH
from os import path

In [79]:
# настройка пути для нашего xlsx файла.
file_path = path.join(DIR_PATH, 'source/Задание_#1.xlsx')

In [80]:
# читаем xlsx файл
xlsx = pd.ExcelFile(file_path)

In [81]:
# проверка
xlsx.sheet_names

['Задача', 'ТИП_Источника_1', 'ТИП_Источника_2']

In [82]:
# создаем data frame для каждого sheet.
df_source_1 = xlsx.parse('ТИП_Источника_1', dtype={'DESCRIPTION': str})
df_source_2 = xlsx.parse('ТИП_Источника_2', dtype={'DESCRIPTION': str})

# Очистка данных

In [83]:
df_source_1.head(10)

         MSISDN  AMOUNT DESCRIPTION ADJUSTMENTTYPE             DAT_PAY
0  996888888888   220.0       80500       Списание 2024-02-19 08:13:13
1  996888888888   195.0       06402       Списание 2024-02-19 08:15:18
2  996888888888    50.0       51465       Списание 2024-02-19 08:28:25
3  996888888888   100.0       10215       Списание 2024-02-19 08:29:43
4  996888888888    60.0       37454       Списание 2024-02-19 08:37:54
5  996888888888   100.0       49450       Списание 2024-02-19 08:39:01
6  996888888888   150.0       17729       Списание 2024-02-19 08:43:06
7  996666666666  1038.0       87879       Списание 2024-02-27 16:55:17
8  996666666666  -140.0       87879        Возврат 2024-02-27 17:31:46
9  996666666666   -80.0       87879        Возврат 2024-02-27 17:33:22

Смотрится довольно нормально, однако как по мне называния колон не соответсвуют нормам PEP, например: пологаю что DAT_PAY это тайпо нужно изменить на DATE_PAY для более четкой ясности (это касается и для 2го фрейма тоже), ADJUSTMENTTYPE сложно читается и не соответствует PEP нужно поменять на ADJUSTMENT_TYPE. Если для компании Nur-Telecom такие нейминги норм то мне тоже норм будет). И еще в xlsx файле колонка AMOUNT содержал разные типы данных: int и float, нужно все кастануть в один тип данных, а то когда будем сохранять в базу данных возникнут проблемы с типами, MSISDN тоже нужно в строку закинуть, возможно что в bigint не поместится. Думаю нужно все это стандартизировать для более удобной работы.

In [84]:
# каст колонки AMOUNT в float, Полагаю что тут нет никаких неверных значений типа str иначе придется сделать через метод pandas.to_numeric 
df_source_1.AMOUNT = df_source_1.AMOUNT.astype(float)
df_source_1.MSISDN = df_source_1.MSISDN.astype(str)
df_source_1.rename(columns={'ADJUSTMENTTYPE': 'ADJUSTMENT_TYPE', 'DAT_PAY': 'DATE_PAY'}, inplace=True)

In [85]:
df_source_1.head(10)

         MSISDN  AMOUNT DESCRIPTION ADJUSTMENT_TYPE            DATE_PAY
0  996888888888   220.0       80500        Списание 2024-02-19 08:13:13
1  996888888888   195.0       06402        Списание 2024-02-19 08:15:18
2  996888888888    50.0       51465        Списание 2024-02-19 08:28:25
3  996888888888   100.0       10215        Списание 2024-02-19 08:29:43
4  996888888888    60.0       37454        Списание 2024-02-19 08:37:54
5  996888888888   100.0       49450        Списание 2024-02-19 08:39:01
6  996888888888   150.0       17729        Списание 2024-02-19 08:43:06
7  996666666666  1038.0       87879        Списание 2024-02-27 16:55:17
8  996666666666  -140.0       87879         Возврат 2024-02-27 17:31:46
9  996666666666   -80.0       87879         Возврат 2024-02-27 17:33:22

Смотрится более менее нормально, тоже самое делаем и для df_source_2

In [86]:
df_source_2.head(10)

,amount,mobile,trans_id,payment_id_pay,dat_pay,status_pay,description
0,3000.0,996555555555,70231,85977,14.03.2024 09:22:46,Успешная операция,Сервис #1
1,1048.1,996555555555,60223,96580,14.03.2024 09:26:28,Успешная операция,Возврат средств по покупке 300469570231
2,125.0,996999999999,72276,74680,14.03.2024 12:24:25,Успешная операция,Возврат средств по покупке 164780250745
3,620.0,996777777777,24388,60458,14.03.2024 16:37:04,Успешная операция,Сервис #1
4,319.4,996777777777,51325,66260,14.03.2024 16:40:08,Успешная операция,Возврат средств по покупке 856290724388
5,710.0,996999999999,50745,34522,14.03.2024 16:49:43,Успешная операция,Сервис #5
6,338.0,996999999999,20732,21939,14.03.2024 22:49:58,Успешная операция,Сервис #4
7,220.0,996888888888,80500,31161,19.02.2024 08:13:18,Успешная операция,Сервис #3
8,195.0,996888888888,6402,35422,19.02.2024 08:15:20,Отменена,Сервис #3
9,195.0,996888888888,30980,35422,19.02.2024 08:17:48,Успешная операция,Сервис #3

Думаю называния сделаю upper так как в 1м все было upper. и еще колонку MOBILE тоже нужно переименовать в MSISDN (Mobile Subscriber Integrated Services Digital Number).

In [87]:
df_source_2.columns = df_source_2.columns.str.upper()
df_source_2.rename(columns={'DAT_PAY': 'DATE_PAY', 'MOBILE': 'MSISDN'}, inplace=True)
df_source_2.AMOUNT = df_source_2.AMOUNT.astype(float)
df_source_2.MSISDN = df_source_2.MSISDN.astype(str)

In [88]:
df_source_2.head(20)

,AMOUNT,MSISDN,TRANS_ID,PAYMENT_ID_PAY,DATE_PAY,STATUS_PAY,DESCRIPTION
0,3000.0,996555555555,70231,85977,14.03.2024 09:22:46,Успешная операция,Сервис #1
1,1048.1,996555555555,60223,96580,14.03.2024 09:26:28,Успешная операция,Возврат средств по покупке 300469570231
2,125.0,996999999999,72276,74680,14.03.2024 12:24:25,Успешная операция,Возврат средств по покупке 164780250745
3,620.0,996777777777,24388,60458,14.03.2024 16:37:04,Успешная операция,Сервис #1
4,319.4,996777777777,51325,66260,14.03.2024 16:40:08,Успешная операция,Возврат средств по покупке 856290724388
5,710.0,996999999999,50745,34522,14.03.2024 16:49:43,Успешная операция,Сервис #5
6,338.0,996999999999,20732,21939,14.03.2024 22:49:58,Успешная операция,Сервис #4
7,220.0,996888888888,80500,31161,19.02.2024 08:13:18,Успешная операция,Сервис #3
8,195.0,996888888888,6402,35422,19.02.2024 08:15:20,Отменена,Сервис #3
9,195.0,996888888888,30980,35422,19.02.2024 08:17:48,Успешная операция,Сервис #3
10,50.0,996888888888,51465,63505,19.02.2024 08:28:29,Успешная операция,Сервис #3
11,100.0,996888888888,10215,66161,19.02.2024 08:31:33,Успешная операция,Сервис #3
12,60.0,996888888888,37454,84956,19.02.2024 08:37:58,Успешная операция,Сервис #3
13,100.0,996888888888,49450,87527,19.02.2024 08:39:06,Отменена,Сервис #3
14,100.0,996888888888,93730,87527,19.02.2024 08:40:43,Успешная операция,Сервис #3
15,150.0,996888888888,17729,97357,19.02.2024 08:43:10,Успешная операция,Сервис #3
16,140.0,996666666666,27652,40808,27.02.2024 17:31:46,Успешная операция,Возврат средств по покупке 884814487879
17,80.0,996666666666,19287,43906,27.02.2024 17:33:22,Успешная операция,Возврат средств по покупке 884814487879
18,65.0,996666666666,25279,46640,27.02.2024 17:34:50,Успешная операция,Возврат средств по покупке 884814487879
19,175.0,996666666666,3887,47177,27.02.2024 17:35:10,Успешная операция,Возврат средств по покупке 884814487879

# Сохранение в базу данных.
думаю ORM с sqlalchemy подойтет для этой работы.

In [89]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://developer:developer@localhost:5432/developer')
df_source_1.to_sql('source_1', engine, if_exists='replace', index=False)
df_source_2.to_sql('source_2', engine, if_exists='replace', index=False)
engine.dispose()

# Task-2 (Написать скрипт для сверки данных.)

In [90]:
df_source_1.head()

         MSISDN  AMOUNT DESCRIPTION ADJUSTMENT_TYPE            DATE_PAY
0  996888888888   220.0       80500        Списание 2024-02-19 08:13:13
1  996888888888   195.0       06402        Списание 2024-02-19 08:15:18
2  996888888888    50.0       51465        Списание 2024-02-19 08:28:25
3  996888888888   100.0       10215        Списание 2024-02-19 08:29:43
4  996888888888    60.0       37454        Списание 2024-02-19 08:37:54

In [91]:
df_source_2.head()

,AMOUNT,MSISDN,TRANS_ID,PAYMENT_ID_PAY,DATE_PAY,STATUS_PAY,DESCRIPTION
0,3000.0,996555555555,70231,85977,14.03.2024 09:22:46,Успешная операция,Сервис #1
1,1048.1,996555555555,60223,96580,14.03.2024 09:26:28,Успешная операция,Возврат средств по покупке 300469570231
2,125.0,996999999999,72276,74680,14.03.2024 12:24:25,Успешная операция,Возврат средств по покупке 164780250745
3,620.0,996777777777,24388,60458,14.03.2024 16:37:04,Успешная операция,Сервис #1
4,319.4,996777777777,51325,66260,14.03.2024 16:40:08,Успешная операция,Возврат средств по покупке 856290724388