# Task-1 (Загрузить в БД данные (любая СУБД на усмотрение))
Настройка среды, импорт основных библеотек, и создание инстансов наших sheets.

In [216]:
import numpy as np
import pandas as pd
from settings import DIR_PATH
from os import path

In [217]:
# настройка пути для нашего xlsx файла.
file_path = path.join(DIR_PATH, 'source/Задание_#1.xlsx')

In [218]:
# читаем xlsx файл
xlsx = pd.ExcelFile(file_path)

In [219]:
# проверка
xlsx.sheet_names

['Задача', 'ТИП_Источника_1', 'ТИП_Источника_2']

In [220]:
# создаем data frame для каждого sheet.
df_source_1 = xlsx.parse('ТИП_Источника_1', dtype={'DESCRIPTION': str})
df_source_2 = xlsx.parse('ТИП_Источника_2', dtype={'DESCRIPTION': str, 'trans_id': str})

# Очистка данных

In [221]:
df_source_1.head(10)

         MSISDN  AMOUNT DESCRIPTION ADJUSTMENTTYPE             DAT_PAY
0  996888888888   220.0       80500       Списание 2024-02-19 08:13:13
1  996888888888   195.0       06402       Списание 2024-02-19 08:15:18
2  996888888888    50.0       51465       Списание 2024-02-19 08:28:25
3  996888888888   100.0       10215       Списание 2024-02-19 08:29:43
4  996888888888    60.0       37454       Списание 2024-02-19 08:37:54
5  996888888888   100.0       49450       Списание 2024-02-19 08:39:01
6  996888888888   150.0       17729       Списание 2024-02-19 08:43:06
7  996666666666  1038.0       87879       Списание 2024-02-27 16:55:17
8  996666666666  -140.0       87879        Возврат 2024-02-27 17:31:46
9  996666666666   -80.0       87879        Возврат 2024-02-27 17:33:22

Смотрится довольно нормально, однако как по мне называния колон не соответсвуют нормам PEP, например: пологаю что DAT_PAY это тайпо нужно изменить на DATE_PAY для более четкой ясности (это касается и для 2го фрейма тоже), ADJUSTMENTTYPE сложно читается и не соответствует PEP нужно поменять на ADJUSTMENT_TYPE. Если для компании Nur-Telecom такие нейминги норм то мне тоже норм будет). И еще в xlsx файле колонка AMOUNT содержал разные типы данных: int и float, нужно все кастануть в один тип данных, а то когда будем сохранять в базу данных возникнут проблемы с типами, MSISDN тоже нужно в строку закинуть, возможно что в bigint не поместится. Думаю нужно все это стандартизировать для более удобной работы.

In [222]:
# каст колонки AMOUNT в float, Полагаю что тут нет никаких неверных значений типа str иначе придется сделать через метод pandas.to_numeric 
df_source_1.AMOUNT = df_source_1.AMOUNT.astype(float)
df_source_1.MSISDN = df_source_1.MSISDN.astype(str)
df_source_1.rename(columns={'ADJUSTMENTTYPE': 'ADJUSTMENT_TYPE', 'DAT_PAY': 'DATE_PAY'}, inplace=True)

In [223]:
df_source_1.head(10)

         MSISDN  AMOUNT DESCRIPTION ADJUSTMENT_TYPE            DATE_PAY
0  996888888888   220.0       80500        Списание 2024-02-19 08:13:13
1  996888888888   195.0       06402        Списание 2024-02-19 08:15:18
2  996888888888    50.0       51465        Списание 2024-02-19 08:28:25
3  996888888888   100.0       10215        Списание 2024-02-19 08:29:43
4  996888888888    60.0       37454        Списание 2024-02-19 08:37:54
5  996888888888   100.0       49450        Списание 2024-02-19 08:39:01
6  996888888888   150.0       17729        Списание 2024-02-19 08:43:06
7  996666666666  1038.0       87879        Списание 2024-02-27 16:55:17
8  996666666666  -140.0       87879         Возврат 2024-02-27 17:31:46
9  996666666666   -80.0       87879         Возврат 2024-02-27 17:33:22

Смотрится более менее нормально, тоже самое делаем и для df_source_2

In [224]:
df_source_2.head(10)

,amount,mobile,trans_id,payment_id_pay,dat_pay,status_pay,description
0,3000.0,996555555555,70231,85977,14.03.2024 09:22:46,Успешная операция,Сервис #1
1,1048.1,996555555555,60223,96580,14.03.2024 09:26:28,Успешная операция,Возврат средств по покупке 300469570231
2,125.0,996999999999,72276,74680,14.03.2024 12:24:25,Успешная операция,Возврат средств по покупке 164780250745
3,620.0,996777777777,24388,60458,14.03.2024 16:37:04,Успешная операция,Сервис #1
4,319.4,996777777777,51325,66260,14.03.2024 16:40:08,Успешная операция,Возврат средств по покупке 856290724388
5,710.0,996999999999,50745,34522,14.03.2024 16:49:43,Успешная операция,Сервис #5
6,338.0,996999999999,20732,21939,14.03.2024 22:49:58,Успешная операция,Сервис #4
7,220.0,996888888888,80500,31161,19.02.2024 08:13:18,Успешная операция,Сервис #3
8,195.0,996888888888,06402,35422,19.02.2024 08:15:20,Отменена,Сервис #3
9,195.0,996888888888,30980,35422,19.02.2024 08:17:48,Успешная операция,Сервис #3

Думаю называния сделаю upper так как в 1м все было upper. и еще колонку MOBILE тоже нужно переименовать в MSISDN (Mobile Subscriber Integrated Services Digital Number).

In [225]:
df_source_2.columns = df_source_2.columns.str.upper()
df_source_2.rename(columns={'DAT_PAY': 'DATE_PAY', 'MOBILE': 'MSISDN'}, inplace=True)
df_source_2.AMOUNT = df_source_2.AMOUNT.astype(float)
df_source_2.MSISDN = df_source_2.MSISDN.astype(str)

In [226]:
# вроде тут DESCRIPTION это TRANS_ID, хмм.
df_source_2.head(20)
df_source_1.rename(columns={'DESCRIPTION': 'TRANS_ID'}, inplace=True)

# Сохранение в базу данных.
думаю что метод библиотеки pandas to_sql хорошо подгодит для этой задачки, под капотом как ни как работает sqlalchemy. Я выбрал более ленивый способ, люблю обстрагироватьс, а так можно своими модельки сделать с sqlalchemy или сразу на консольке-postgresql можно сделать.

In [227]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://developer:developer@localhost:5432/developer')

df_source_1.to_sql('source_1', engine, if_exists='replace', index=False)
df_source_2.to_sql('source_2', engine, if_exists='replace', index=False)
engine.dispose()

# Task-2 (Написать скрипт для сверки данных)

In [228]:
# осмотр данных
df_source_1.info()
df_source_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MSISDN           22 non-null     object
 1   AMOUNT           22 non-null     float64
 2   TRANS_ID         22 non-null     object
 3   ADJUSTMENT_TYPE  22 non-null     object
 4   DATE_PAY         22 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1012.0+ bytes

         MSISDN  AMOUNT TRANS_ID ADJUSTMENT_TYPE            DATE_PAY
0  996888888888   220.0    80500        Списание 2024-02-19 08:13:13
1  996888888888   195.0    06402        Списание 2024-02-19 08:15:18
2  996888888888    50.0    51465        Списание 2024-02-19 08:28:25
3  996888888888   100.0    10215        Списание 2024-02-19 08:29:43
4  996888888888    60.0    37454        Списание 2024-02-19 08:37:54

In [229]:
df_source_2.info()
df_source_2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AMOUNT          24 non-null     float64
 1   MSISDN          24 non-null     object
 2   TRANS_ID        24 non-null     object
 3   PAYMENT_ID_PAY  24 non-null     int64
 4   DATE_PAY        24 non-null     object
 5   STATUS_PAY      24 non-null     object
 6   DESCRIPTION     24 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.4+ KB

,AMOUNT,MSISDN,TRANS_ID,PAYMENT_ID_PAY,DATE_PAY,STATUS_PAY,DESCRIPTION
0,3000.0,996555555555,70231,85977,14.03.2024 09:22:46,Успешная операция,Сервис #1
1,1048.1,996555555555,60223,96580,14.03.2024 09:26:28,Успешная операция,Возврат средств по покупке 300469570231
2,125.0,996999999999,72276,74680,14.03.2024 12:24:25,Успешная операция,Возврат средств по покупке 164780250745
3,620.0,996777777777,24388,60458,14.03.2024 16:37:04,Успешная операция,Сервис #1
4,319.4,996777777777,51325,66260,14.03.2024 16:40:08,Успешная операция,Возврат средств по покупке 856290724388

In [230]:
left_join_df = pd.merge(df_source_1, df_source_2, on='TRANS_ID', how='left')

In [231]:
left_join_df.head(10)

,MSISDN_x,AMOUNT_x,TRANS_ID,ADJUSTMENT_TYPE,DATE_PAY_x,AMOUNT_y,MSISDN_y,PAYMENT_ID_PAY,DATE_PAY_y,STATUS_PAY,DESCRIPTION
0,996888888888,220.0,80500,Списание,2024-02-19 08:13:13,220.0,996888888888,31161,19.02.2024 08:13:18,Успешная операция,Сервис #3
1,996888888888,195.0,06402,Списание,2024-02-19 08:15:18,195.0,996888888888,35422,19.02.2024 08:15:20,Отменена,Сервис #3
2,996888888888,50.0,51465,Списание,2024-02-19 08:28:25,50.0,996888888888,63505,19.02.2024 08:28:29,Успешная операция,Сервис #3
3,996888888888,100.0,10215,Списание,2024-02-19 08:29:43,100.0,996888888888,66161,19.02.2024 08:31:33,Успешная операция,Сервис #3
4,996888888888,60.0,37454,Списание,2024-02-19 08:37:54,60.0,996888888888,84956,19.02.2024 08:37:58,Успешная операция,Сервис #3
5,996888888888,100.0,49450,Списание,2024-02-19 08:39:01,100.0,996888888888,87527,19.02.2024 08:39:06,Отменена,Сервис #3
6,996888888888,150.0,17729,Списание,2024-02-19 08:43:06,150.0,996888888888,97357,19.02.2024 08:43:10,Успешная операция,Сервис #3
7,996666666666,1038.0,87879,Списание,2024-02-27 16:55:17,1038.0,996666666666,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2
8,996666666666,-140.0,87879,Возврат,2024-02-27 17:31:46,1038.0,996666666666,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2
9,996666666666,-80.0,87879,Возврат,2024-02-27 17:33:22,1038.0,996666666666,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2

с left join я потерял данные, кажется.

In [232]:
# тут я прошелся по всем MSISDN что бы проверить колонку AMOUNT, у некоторых не складываются итоговая сумма.
df_source_1[df_source_1.MSISDN == '996888888888']

         MSISDN  AMOUNT TRANS_ID ADJUSTMENT_TYPE            DATE_PAY
0  996888888888   220.0    80500        Списание 2024-02-19 08:13:13
1  996888888888   195.0    06402        Списание 2024-02-19 08:15:18
2  996888888888    50.0    51465        Списание 2024-02-19 08:28:25
3  996888888888   100.0    10215        Списание 2024-02-19 08:29:43
4  996888888888    60.0    37454        Списание 2024-02-19 08:37:54
5  996888888888   100.0    49450        Списание 2024-02-19 08:39:01
6  996888888888   150.0    17729        Списание 2024-02-19 08:43:06

In [233]:
# inner join
merge_on_trans_id = pd.merge(df_source_2, df_source_1, on='TRANS_ID', how='inner')

In [234]:
# тут уже что-то есть, продолжаем копать.
merge_on_trans_id

,AMOUNT_x,MSISDN_x,TRANS_ID,PAYMENT_ID_PAY,DATE_PAY_x,STATUS_PAY,DESCRIPTION,MSISDN_y,AMOUNT_y,ADJUSTMENT_TYPE,DATE_PAY_y
0,3000.0,996555555555,70231,85977,14.03.2024 09:22:46,Успешная операция,Сервис #1,996555555555,3000.0,Списание,2024-03-14 09:22:46
1,3000.0,996555555555,70231,85977,14.03.2024 09:22:46,Успешная операция,Сервис #1,996555555555,-1048.1,Возврат,2024-03-14 09:26:28
2,620.0,996777777777,24388,60458,14.03.2024 16:37:04,Успешная операция,Сервис #1,996777777777,620.0,Списание,2024-03-14 16:37:04
3,620.0,996777777777,24388,60458,14.03.2024 16:37:04,Успешная операция,Сервис #1,996777777777,-319.4,Возврат,2024-03-14 16:40:08
4,710.0,996999999999,50745,34522,14.03.2024 16:49:43,Успешная операция,Сервис #5,996999999999,710.0,Списание,2024-03-14 12:10:53
5,710.0,996999999999,50745,34522,14.03.2024 16:49:43,Успешная операция,Сервис #5,996999999999,-125.0,Возврат,2024-03-14 12:24:25
6,338.0,996999999999,20732,21939,14.03.2024 22:49:58,Успешная операция,Сервис #4,996999999999,338.0,Списание,2024-03-14 22:49:55
7,220.0,996888888888,80500,31161,19.02.2024 08:13:18,Успешная операция,Сервис #3,996888888888,220.0,Списание,2024-02-19 08:13:13
8,195.0,996888888888,06402,35422,19.02.2024 08:15:20,Отменена,Сервис #3,996888888888,195.0,Списание,2024-02-19 08:15:18
9,50.0,996888888888,51465,63505,19.02.2024 08:28:29,Успешная операция,Сервис #3,996888888888,50.0,Списание,2024-02-19 08:28:25
10,100.0,996888888888,10215,66161,19.02.2024 08:31:33,Успешная операция,Сервис #3,996888888888,100.0,Списание,2024-02-19 08:29:43
11,60.0,996888888888,37454,84956,19.02.2024 08:37:58,Успешная операция,Сервис #3,996888888888,60.0,Списание,2024-02-19 08:37:54
12,100.0,996888888888,49450,87527,19.02.2024 08:39:06,Отменена,Сервис #3,996888888888,100.0,Списание,2024-02-19 08:39:01
13,150.0,996888888888,17729,97357,19.02.2024 08:43:10,Успешная операция,Сервис #3,996888888888,150.0,Списание,2024-02-19 08:43:06
14,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,1038.0,Списание,2024-02-27 16:55:17
15,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,-140.0,Возврат,2024-02-27 17:31:46
16,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,-80.0,Возврат,2024-02-27 17:33:22
17,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,-65.0,Возврат,2024-02-27 17:34:50
18,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,-175.0,Возврат,2024-02-27 17:35:10
19,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,-195.0,Возврат,2024-02-27 17:35:24
20,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,-225.0,Возврат,2024-02-27 17:39:45
21,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,-158.0,Возврат,2024-02-27 18:30:36

In [235]:
# думаю, в идеале итоговая сумма должна быть равно 0, это означает nur-telecom не должен никому и абонент тоже. Случаи: абонент перечислил деньги, а конечного абонента не существует. Ну это мои догадки. 
merge_on_trans_id['DELTA'] = merge_on_trans_id.AMOUNT_x - merge_on_trans_id.AMOUNT_y
merge_on_trans_id[merge_on_trans_id.DELTA != 0]

,AMOUNT_x,MSISDN_x,TRANS_ID,PAYMENT_ID_PAY,DATE_PAY_x,STATUS_PAY,DESCRIPTION,MSISDN_y,AMOUNT_y,ADJUSTMENT_TYPE,DATE_PAY_y,DELTA
1,3000.0,996555555555,70231,85977,14.03.2024 09:22:46,Успешная операция,Сервис #1,996555555555,-1048.1,Возврат,2024-03-14 09:26:28,4048.1
3,620.0,996777777777,24388,60458,14.03.2024 16:37:04,Успешная операция,Сервис #1,996777777777,-319.4,Возврат,2024-03-14 16:40:08,939.4
5,710.0,996999999999,50745,34522,14.03.2024 16:49:43,Успешная операция,Сервис #5,996999999999,-125.0,Возврат,2024-03-14 12:24:25,835.0
15,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,-140.0,Возврат,2024-02-27 17:31:46,1178.0
16,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,-80.0,Возврат,2024-02-27 17:33:22,1118.0
17,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,-65.0,Возврат,2024-02-27 17:34:50,1103.0
18,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,-175.0,Возврат,2024-02-27 17:35:10,1213.0
19,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,-195.0,Возврат,2024-02-27 17:35:24,1233.0
20,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,-225.0,Возврат,2024-02-27 17:39:45,1263.0
21,1038.0,996666666666,87879,67737,27.02.2024 18:30:36,Успешная операция,Сервис #2,996666666666,-158.0,Возврат,2024-02-27 18:30:36,1196.0

In [236]:
# итоговая разница.
difference = merge_on_trans_id[merge_on_trans_id.AMOUNT_x != merge_on_trans_id.AMOUNT_y]
difference.groupby(['MSISDN_x']).agg({'AMOUNT_x': 'sum', 'AMOUNT_y': 'sum', 'DELTA': 'sum'})

              AMOUNT_x  AMOUNT_y   DELTA
MSISDN_x
996555555555    3000.0   -1048.1  4048.1
996666666666    7266.0   -1038.0  8304.0
996777777777     620.0    -319.4   939.4
996999999999     710.0    -125.0   835.0